/* http://meyerweb.com/eric/tools/css/reset/
  v2.0 | 20110126
  License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&family=Roboto:wght@100&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: normal; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  padding: 0;
  margin: 0; }

*, *:after, *:before {
  box-sizing: border-box; }

:focus {
  outline: none; }

a {
  text-decoration: none; }

input,
textarea,
select {
  border: none;
  border-radius: 0;
  box-shadow: none; }

input,
textarea {
  appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -webkit-appearance: none; }

img, iframe {
  max-width: 100%; }

img, textarea {
  vertical-align: top; }

button {
  border: none;
  background: transparent;
  cursor: pointer; }

.page-header__platform > p, .page-header__btn_plus, .page-header__btn_upgrade, .select__btn, .expired__desc, .expired__spf_title, .expired__spf_link, .expired__benefits_item, .sidebar__list_link {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5; }
  @media only screen and (max-width: 767px) {
    .page-header__platform > p, .page-header__btn_plus, .page-header__btn_upgrade, .select__btn, .expired__desc, .expired__spf_title, .expired__spf_link, .expired__benefits_item, .sidebar__list_link {
      font-size: 12px; } }

html, body, .page-header__usage, .select__collapse_text, .expired__lookups_desc, .upgrade__card_subtitle, .upgrade__card_item {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; }
  @media only screen and (max-width: 767px) {
    html, body, .page-header__usage, .select__collapse_text, .expired__lookups_desc, .upgrade__card_subtitle, .upgrade__card_item {
      font-size: 13px; } }

.expired__lookups_value, .upgrade__title, .upgrade__card_title {
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  font-weight: 600;
  line-height: 1.35; }
  @media only screen and (max-width: 767px) {
    .expired__lookups_value, .upgrade__title, .upgrade__card_title {
      font-size: 22px; } }

.page, .sidebar {
  -ms-overflow-style: none;
  scrollbar-width: none; }
  .page::-webkit-scrollbar, .sidebar::-webkit-scrollbar {
    display: none; }

.page__title, .select {
  margin-bottom: 24px; }
  @media only screen and (max-width: 1200px) {
    .page__title, .select {
      margin-bottom: 16px; } }
  @media only screen and (max-width: 767px) {
    .page__title, .select {
      margin-bottom: 12px; } }

@keyframes fade-in-up {
  from {
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
    opacity: 0;
    visibility: hidden; }
  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
    visibility: visible; } }

@keyframes fade-in-left {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: 0;
    visibility: hidden; }
  to {
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg);
    opacity: 1;
    visibility: visible; } }

@keyframes fade-in-right {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: 0;
    visibility: hidden; }
  to {
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
    opacity: 1;
    visibility: visible; } }

.main-header {
  align-items: center;
  background-color: #1B2C74;
  display: flex;
  justify-content: space-between;
  height: 48px;
  padding: 0 32px 0 12px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1; }
  .main-header__logo {
    display: inline-block; }
    .main-header__logo > img {
      object-fit: contain; }
  .main-header__content {
    align-items: center;
    display: flex; }
    .main-header__content > div {
      align-items: center;
      display: flex; }
      .main-header__content > div:not(:last-child):after {
        background-color: #6473B5;
        content: '';
        display: inline-block;
        height: 16px;
        margin-left: 16px;
        margin-right: 16px;
        width: 1px; }
  .main-header__notifications > span {
    background: no-repeat center/contain url("../img/bell-icon.svg");
    content: '';
    cursor: pointer;
    display: inline-block;
    height: 24px;
    position: relative;
    width: 24px; }
    .main-header__notifications > span:after {
      background-color: #E63200;
      border: 1px solid #1B2C74;
      border-radius: 50%;
      color: #FFFFFF;
      content: attr(data-count);
      font: 500 12px 'Inter', sans-serif;
      line-height: 16px;
      height: 18px;
      position: absolute;
      right: -5px;
      text-align: center;
      top: -4px;
      width: 18px; }
  .main-header__service > a, .main-header__help > a {
    color: #FFFFFF;
    font: 400 13px 'Inter', sans-serif; }
  .main-header__service_badge {
    background-color: #FBB03B;
    border-radius: 3px;
    color: #FFFFFF;
    font: 600 12px 'Inter', sans-serif;
    height: 24px;
    line-height: 24px;
    margin-left: 8px;
    padding-left: 8px;
    padding-right: 8px; }
  @media only screen and (max-width: 767px) {
    .main-header__service {
      display: none !important; } }
  .main-header__help > a:before {
    background: no-repeat center/contain url("../img/help-icon.svg");
    content: '';
    display: inline-block;
    height: 15px;
    margin-bottom: 2px;
    margin-right: 9px;
    vertical-align: middle;
    width: 14px; }
  .main-header__account {
    background-color: #00A9E0;
    border-radius: 50%;
    color: #FFFFFF;
    cursor: pointer;
    font: 400 12px 'Roboto', sans-serif;
    height: 32px;
    justify-content: center;
    width: 32px; }

.page-header {
  background-color: #FFFFFF;
  display: flex;
  height: 64px;
  position: fixed;
  top: 48px;
  left: 0;
  right: 0;
  z-index: 1; }
  .page-header:after {
    background-color: #E1E6EC;
    content: '';
    display: block;
    height: 1px;
    left: 0;
    position: absolute;
    right: 0;
    top: 100%;
    width: 100%; }
  .page-header__platform {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 240px;
    gap: 8px;
    padding-left: 12px;
    padding-right: 28px;
    position: relative; }
    @media only screen and (max-width: 767px) {
      .page-header__platform {
        flex-basis: 72px; } }
    .page-header__platform:after {
      background: no-repeat center/contain url("../img/chevron-right-icon.svg");
      content: '';
      height: 16px;
      margin: auto 0;
      position: absolute;
      right: 12px;
      top: 50%;
      -webkit-transform: translate(0, -50%);
      transform: translate(0, -50%);
      width: 16px;
      transition-property: transform;
      transition-duration: 0.3s;
      transition-timing-function: ease; }
    @media only screen and (min-width: 768px) {
      .page-header__platform:hover:after {
        -webkit-transform: translate(-3px, -50%);
        transform: translate(-3px, -50%); } }
    .page-header__platform > p {
      color: #1B2C74; }
      @media only screen and (max-width: 767px) {
        .page-header__platform > p {
          display: none; } }
  .page-header__content {
    align-items: center;
    border-left: 1px solid #E1E6EC;
    display: flex;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 24px;
    flex: 1; }
  .page-header__sidebar-btn {
    border-right: 1px solid #E1E6EC;
    cursor: pointer;
    position: relative;
    width: 48px; }
    @media only screen and (min-width: 768px) {
      .page-header__sidebar-btn {
        display: none; } }
    .page-header__sidebar-btn > span {
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      position: absolute;
      width: 18px; }
      .page-header__sidebar-btn > span:before, .page-header__sidebar-btn > span:after,
      .page-header__sidebar-btn > span > span {
        background: #2C79E7;
        content: "";
        display: block;
        height: 1px;
        border-radius: 1px;
        margin: 5px 0;
        transition-property: transform;
        transition-duration: 0.3s;
        transition-timing-function: ease; }
    .page-header__sidebar-btn.show > span:before {
      -webkit-transform: translateY(6px) rotate(135deg);
      transform: translateY(6px) rotate(135deg); }
    .page-header__sidebar-btn.show > span:after {
      -webkit-transform: translateY(-6px) rotate(-135deg);
      transform: translateY(-6px) rotate(-135deg); }
    .page-header__sidebar-btn.show > span > span {
      -webkit-transform: scale(0);
      transform: scale(0); }
  .page-header__btns {
    align-items: center;
    display: flex; }
  .page-header__btn_plus {
    color: #1B2C74;
    display: inline-block;
    margin-right: 16px; }
    @media only screen and (max-width: 767px) {
      .page-header__btn_plus {
        display: none;
        font-size: 14px; } }
  .page-header__btn_upgrade {
    background-color: #0DB4A7;
    border-radius: 5px;
    color: #FFFFFF;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding-left: 16px;
    padding-right: 16px; }
    @media only screen and (min-width: 768px) {
      .page-header__btn_upgrade {
        overflow: hidden;
        position: relative; }
        .page-header__btn_upgrade:before, .page-header__btn_upgrade:after {
          content: '';
          display: block;
          position: absolute;
          height: 100%;
          left: 0;
          top: 0;
          transform: translateX(-100px) skewX(-15deg); }
        .page-header__btn_upgrade:before {
          background: rgba(255, 255, 255, 0.5);
          width: 60px;
          opacity: .5;
          filter: blur(30px); }
        .page-header__btn_upgrade:after {
          background: rgba(255, 255, 255, 0.2);
          width: 30px;
          opacity: 0;
          filter: blur(5px); }
        .page-header__btn_upgrade:hover:before, .page-header__btn_upgrade:hover:after {
          transform: translateX(200px) skewX(-15deg);
          transition: .7s; }
        .page-header__btn_upgrade:hover:before {
          opacity: 0.6; }
        .page-header__btn_upgrade:hover:after {
          opacity: 1; } }
    @media only screen and (max-width: 767px) {
      .page-header__btn_upgrade {
        background-color: #FBB03B;
        font-size: 14px; } }
  .page-header__usage {
    align-items: center;
    color: #1B2C74;
    cursor: pointer;
    display: flex;
    padding-right: 24px;
    position: relative; }
    @media only screen and (max-width: 767px) {
      .page-header__usage {
        padding-right: 12px; } }
    .page-header__usage:after {
      background: no-repeat center/contain url("../img/chevron-down-icon.svg");
      content: '';
      height: 6px;
      margin: auto 0;
      position: absolute;
      right: 0;
      top: 50%;
      -webkit-transform: translate(0, -50%);
      transform: translate(0, -50%);
      width: 8px;
      transition-property: transform;
      transition-duration: 0.3s;
      transition-timing-function: ease; }
    .page-header__usage > span {
      color: #1B2C74;
      font: 400 16px 'Inter', sans-serif;
      margin-left: 8px; }
      @media only screen and (max-width: 767px) {
        .page-header__usage > span {
          display: none; } }
    @media only screen and (min-width: 768px) {
      .page-header__usage:hover:after {
        -webkit-transform: translate(0, -20%);
        transform: translate(0, -20%); } }

.usage {
  height: 40px;
  position: relative;
  width: 40px; }
  .usage__outer {
    background-color: rgba(202, 213, 228, 0.4);
    border-radius: 50%;
    padding: 5px;
    height: 40px;
    width: 40px; }
  .usage__inner {
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 50%;
    display: flex;
    height: 30px;
    justify-content: center;
    width: 30px; }
  .usage__count {
    color: #1B2C74;
    font: 600 10px 'Inter', sans-serif; }
  .usage circle {
    fill: none;
    stroke: #0DB4A7;
    stroke-width: 5px;
    stroke-dasharray: 110;
    stroke-dashoffset: 110;
    animation: load-progress .8s linear forwards; }
  .usage svg {
    position: absolute;
    top: 0;
    left: 0; }

@keyframes load-progress {
  to {
    stroke-dashoffset: 93; } }

.page-wrapper {
  background-color: #F2F4F7;
  display: flex;
  height: 100vh;
  overflow: hidden;
  padding-top: 112px; }

.page {
  height: 100%;
  margin-bottom: 60px;
  overflow: auto;
  padding: 24px;
  width: 100%; }
  @media only screen and (max-width: 767px) {
    .page {
      padding: 16px; } }
  .page__title {
    color: #272727;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5; }
    .page__title:before {
      background: no-repeat center/contain url("../img/email-senders-icon.svg");
      content: '';
      display: inline-block;
      height: 24px;
      margin-right: 12px;
      margin-left: 8px;
      vertical-align: middle;
      width: 24px; }
  .page__content {
    background-color: #FFFFFF;
    border-radius: 20px;
    display: flex;
    margin-bottom: 30px;
    min-height: 600px; }
    @media only screen and (max-width: 1200px) {
      .page__content {
        background-color: transparent;
        flex-direction: column; } }

.select {
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 16px 24px;
  width: 100%; }
  .select__btn-wrap {
    display: inline-block;
    max-width: 100%;
    position: relative; }
  .select__btn {
    background-color: #FFFFFF;
    border: 1px solid #E1E6EC;
    border-radius: 6px;
    color: #484964;
    height: 40px;
    line-height: 40px;
    min-width: 240px;
    max-width: 100%;
    overflow: hidden;
    padding-left: 12px;
    padding-right: 30px;
    position: relative;
    text-align: initial;
    text-overflow: ellipsis;
    white-space: nowrap; }
    .select__btn:after {
      background: no-repeat center/contain url("../img/arrow-down-large.svg"), #FFFFFF;
      bottom: 0;
      content: '';
      display: inline-block;
      height: 24px;
      margin: auto 0;
      position: absolute;
      right: 8px;
      top: 0;
      width: 24px;
      transition-property: transform;
      transition-duration: 0.3s;
      transition-timing-function: ease; }
    .select__btn.collapsed:after {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg); }
    .select__btn.collapsed + div {
      opacity: 1;
      visibility: visible; }
  .select__collapse {
    background-color: #FFFFFF;
    border: 1px solid #E1E6EC;
    border-radius: 6px;
    min-height: 70px;
    opacity: 0;
    padding: 10px 8px;
    position: absolute;
    top: 102%;
    left: 0;
    right: 0;
    visibility: hidden;
    width: 100%;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease; }
    .select__collapse_input {
      border: 1px solid #E1E6EC;
      border-radius: 6px;
      color: #484964;
      display: inline-block;
      height: 40px;
      margin-bottom: 8px;
      padding-left: 12px;
      padding-right: 12px;
      width: 100%; }
    .select__collapse_text {
      color: #00A9E0;
      word-break: break-word; }

.expired {
  background-color: #F7F9FC;
  flex: 0 0 44%;
  padding: 40px 40px 56px;
  text-align: center; }
  @media only screen and (max-width: 767px) {
    .expired {
      padding: 40px; } }
  .expired__title {
    color: #333333;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 1.35;
    margin-bottom: 16px; }
    @media only screen and (max-width: 767px) {
      .expired__title {
        font-size: 22px; } }
  .expired__desc {
    color: #333333;
    margin: 0 auto 24px;
    max-width: 600px; }
  @media only screen and (max-width: 1200px) {
    .expired {
      border-radius: 20px; } }
  @media only screen and (max-width: 767px) {
    .expired {
      padding: 24px 24px 40px; } }
  .expired__spf {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px; }
    .expired__spf_title {
      margin-bottom: 12px; }
    .expired__spf_img {
      margin-bottom: 18px;
      object-fit: contain; }
    .expired__spf_link {
      align-self: center;
      color: #00A9E0; }
  .expired__lookups {
    display: flex;
    gap: 16px;
    justify-content: center;
    margin-bottom: 40px; }
    @media only screen and (max-width: 1365px) {
      .expired__lookups {
        align-items: center;
        flex-direction: column;
        margin-bottom: 24px; } }
    .expired__lookups_card {
      background-color: #FFFFFF;
      box-shadow: 0 10px 20px rgba(136, 166, 211, 0.1);
      border-radius: 20px;
      flex: 1 0;
      max-width: 280px;
      min-height: 100px;
      padding: 24px;
      text-align: initial; }
      @media only screen and (max-width: 1365px) {
        .expired__lookups_card {
          max-width: 100%;
          width: 280px; } }
    .expired__lookups_desc {
      margin-bottom: 8px; }
    .expired__lookups_value.without {
      color: #E63200; }
    .expired__lookups_value.with {
      color: #0DB4A7; }
  .expired__benefits {
    margin-left: auto;
    margin-right: auto;
    max-width: 312px; }
    .expired__benefits_badge {
      background: linear-gradient(125deg, white -13%, rgba(255, 255, 255, 0.8) 110%);
      box-shadow: 0 10px 20px rgba(136, 166, 211, 0.1);
      border-radius: 20px;
      color: #333333;
      display: inline-block;
      font-family: 'Roboto', sans-serif;
      font-size: 12px;
      font-weight: 400;
      line-height: 34px;
      height: 34px;
      margin-bottom: 8px;
      padding-left: 12px;
      padding-right: 12px; }
      @media only screen and (max-width: 767px) {
        .expired__benefits_badge {
          font-size: 11px; } }
      .expired__benefits_badge:before {
        background: no-repeat center/contain url("../img/crown-icon.svg");
        content: '';
        display: inline-block;
        height: 16px;
        margin-right: 9px;
        vertical-align: middle;
        width: 16px; }
    .expired__benefits_title {
      color: #484964;
      display: inline-block;
      font-family: 'Roboto', sans-serif;
      font-size: 22px;
      font-weight: 600;
      line-height: 1.5;
      margin-bottom: 16px; }
      @media only screen and (max-width: 767px) {
        .expired__benefits_title {
          font-size: 19px; } }
    .expired__benefits_list {
      text-align: initial; }
    .expired__benefits_item {
      color: #333333;
      margin-bottom: 5px;
      opacity: 0;
      visibility: hidden;
      -webkit-transform: translate3d(0, 20px, 0);
      transform: translate3d(0, 20px, 0); }
      .expired__benefits_item:before {
        background: no-repeat center/contain url("../img/check-circle-icon.svg");
        content: '';
        display: inline-block;
        height: 16px;
        margin-right: 9px;
        vertical-align: middle;
        width: 17px; }
      .expired__benefits_item.appear {
        animation: fade-in-up .8s ease forwards .3s; }

.upgrade {
  flex: 0 0 56%;
  padding: 48px 40px;
  text-align: center; }
  .upgrade__title {
    color: #484964;
    margin: 0 auto 24px;
    max-width: 400px; }
    .upgrade__title > span {
      color: #00A9E0; }
  .upgrade__card {
    margin: 0 auto 48px;
    min-height: 400px;
    position: relative;
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
    opacity: 0;
    visibility: hidden;
    width: 400px; }
    .upgrade__card:after, .upgrade__card:before {
      background-color: #FFFFFF;
      border-radius: 20px;
      bottom: 50px;
      box-shadow: 0 15px 50px rgba(136, 166, 211, 0.3);
      content: '';
      display: block;
      height: 420px;
      min-height: 400px;
      padding: 24px;
      position: absolute;
      -webkit-transform: rotate(0);
      transform: rotate(0);
      opacity: 0;
      visibility: hidden;
      width: 400px;
      z-index: -1; }
      @media only screen and (max-width: 1200px) {
        .upgrade__card:after, .upgrade__card:before {
          width: 360px; } }
      @media only screen and (max-width: 767px) {
        .upgrade__card:after, .upgrade__card:before {
          bottom: 25px;
          height: 360px;
          width: 250px; } }
    .upgrade__card:after {
      right: -25px;
      -webkit-transform: rotate(3deg);
      transform: rotate(3deg);
      transform-origin: left bottom; }
      @media only screen and (max-width: 767px) {
        .upgrade__card:after {
          right: -20px; } }
    .upgrade__card:before {
      left: -25px;
      -webkit-transform: rotate(-3deg);
      transform: rotate(-3deg);
      transform-origin: right bottom; }
      @media only screen and (max-width: 767px) {
        .upgrade__card:before {
          left: -20px; } }
    .upgrade__card.appear {
      animation: fade-in-up 1.5s ease forwards; }
      .upgrade__card.appear:after {
        animation: fade-in-right 1s ease 1.4s forwards; }
      .upgrade__card.appear:before {
        animation: fade-in-left 1.3s ease .8s forwards; }
    @media only screen and (max-width: 1200px) {
      .upgrade__card {
        width: 360px; } }
    @media only screen and (max-width: 767px) {
      .upgrade__card {
        margin-bottom: 32px;
        width: 250px; } }
    .upgrade__card_wrapper {
      background-color: #FFFFFF;
      border-radius: 20px;
      box-shadow: 0 15px 50px rgba(136, 166, 211, 0.3);
      height: 100%;
      padding: 24px;
      width: 100%;
      position: relative;
      z-index: 1; }
    .upgrade__card_title {
      color: #1B2C74;
      margin-bottom: 8px; }
    .upgrade__card_subtitle {
      color: #8994A3;
      margin-bottom: 8px; }
      @media only screen and (max-width: 767px) {
        .upgrade__card_subtitle {
          font-size: 13px; } }
    .upgrade__card_price {
      color: #1B2C74;
      font-family: 'Roboto', sans-serif;
      font-size: 32px;
      font-weight: 700;
      line-height: 1.35; }
      @media only screen and (max-width: 767px) {
        .upgrade__card_price {
          font-size: 28px; } }
    .upgrade__card_desc {
      color: #8994A3;
      margin-bottom: 32px;
      font-size: 12px;
      font-weight: 400;
      line-height: 1.5; }
      @media only screen and (max-width: 767px) {
        .upgrade__card_desc {
          font-size: 11px; } }
    .upgrade__card_list {
      text-align: initial;
      margin-bottom: 32px; }
      @media only screen and (max-width: 767px) {
        .upgrade__card_list {
          margin-bottom: 18px; } }
    .upgrade__card_item {
      color: #566170;
      margin-bottom: 8px;
      opacity: 0;
      visibility: hidden;
      -webkit-transform: translate3d(0, 20px, 0);
      transform: translate3d(0, 20px, 0); }
      @media only screen and (max-width: 767px) {
        .upgrade__card_item {
          font-size: 13px;
          margin-bottom: 4px; } }
      .upgrade__card_item:before {
        background: no-repeat center/contain url("../img/check-icon.svg");
        content: '';
        display: inline-block;
        height: 25px;
        margin-right: 8px;
        vertical-align: middle;
        width: 24px; }
      .upgrade__card_item.appear {
        animation: fade-in-up .8s ease forwards .3s; }
    .upgrade__card_btn {
      background-color: #00A9E0;
      border-radius: 5px;
      color: #FFFFFF;
      font-family: 'Inter', sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.5;
      height: 40px;
      padding-left: 12px;
      padding-right: 12px;
      width: 100%; }
      @media only screen and (min-width: 768px) {
        .upgrade__card_btn {
          overflow: hidden;
          position: relative; }
          .upgrade__card_btn:before, .upgrade__card_btn:after {
            content: '';
            display: block;
            position: absolute;
            height: 100%;
            left: 0;
            top: 0;
            transform: translateX(-100px) skewX(-15deg); }
          .upgrade__card_btn:before {
            background: rgba(255, 255, 255, 0.5);
            width: 60px;
            opacity: .5;
            filter: blur(30px); }
          .upgrade__card_btn:after {
            background: rgba(255, 255, 255, 0.2);
            width: 30px;
            opacity: 0;
            filter: blur(5px); }
          .upgrade__card_btn:hover:before, .upgrade__card_btn:hover:after {
            transform: translateX(400px) skewX(-15deg);
            transition: .7s; }
          .upgrade__card_btn:hover:before {
            opacity: 0.6; }
          .upgrade__card_btn:hover:after {
            opacity: 1; } }
  .upgrade__link {
    color: #00A9E0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5; }

.switcher {
  background-color: #F3F3FA;
  border-radius: 10px;
  display: flex;
  height: 40px;
  margin: 0 auto 40px;
  position: relative;
  text-align: center;
  width: 252px; }
  .switcher:after {
    background-color: #0DB4A7;
    border-radius: 2px;
    color: #FFFFFF;
    content: attr(data-save);
    display: block;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 10px;
    height: 20px;
    line-height: 20px;
    padding-left: 8px;
    padding-right: 8px;
    position: absolute;
    right: 20px;
    top: -11px; }
  .switcher > input {
    bottom: 0;
    cursor: pointer;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2; }
    .switcher > input ~ span:not(:last-child) {
      color: #00A9E0; }
    .switcher > input ~ span:last-child {
      color: #566170; }
    .switcher > input:checked + label:before {
      -webkit-transform: translateX(120px);
      transform: translateX(120px);
      transition-property: transform;
      transition-duration: 0.3s;
      transition-timing-function: ease; }
    .switcher > input:checked ~ span:not(:last-child) {
      color: #566170; }
    .switcher > input:checked ~ span:last-child {
      color: #00A9E0; }
    .switcher > input + label {
      display: block;
      height: 100%;
      pointer-events: none;
      position: absolute;
      user-select: none;
      width: 100%; }
      .switcher > input + label:before {
        content: "";
        background: #FFFFFF;
        border-radius: 6px;
        height: 32px;
        left: 4px;
        position: absolute;
        top: 4px;
        -webkit-transform: translateX(0);
        transform: translateX(0);
        width: 124px;
        transition-property: transform;
        transition-duration: 0.3s;
        transition-timing-function: ease; }
      .switcher > input + label ~ span {
        flex: 0 0 50%;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 42px;
        position: relative;
        transition-property: color;
        transition-duration: 0.3s;
        transition-timing-function: ease; }

.sidebar {
  background-color: #FFFFFF;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 240px;
  height: auto;
  min-height: 100%;
  overflow: auto;
  padding: 12px 6px;
  position: relative;
  z-index: 1; }
  @media only screen and (min-width: 768px) and (max-width: 1200px) {
    .sidebar {
      flex-basis: 52px; } }
  @media only screen and (max-width: 767px) {
    .sidebar {
      height: calc(100vh - 350px);
      left: 0;
      padding-bottom: 160px;
      position: fixed;
      top: 113px;
      -webkit-transform: translateX(-240px);
      transform: translateX(-240px);
      transition-property: transform;
      transition-duration: 0.3s;
      transition-timing-function: ease; }
      .sidebar.show {
        -webkit-transform: translateX(0);
        transform: translateX(0); } }
  .sidebar__list_subtitle {
    color: #999999;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 24px;
    margin-bottom: 10px;
    padding-left: 6px;
    padding-right: 6px; }
    @media only screen and (min-width: 768px) and (max-width: 1200px) {
      .sidebar__list_subtitle {
        margin-top: 12px; }
        .sidebar__list_subtitle > span {
          display: none; }
        .sidebar__list_subtitle:before {
          background-color: #E1E6EC;
          content: '';
          display: block;
          width: 100%;
          height: 1px; } }
  .sidebar__list_item {
    margin-bottom: 4px;
    position: relative;
    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease; }
    .sidebar__list_item.alert:after {
      background-color: #E63200;
      border: 2px solid #FFFFFF;
      border-radius: 50%;
      color: #FFFFFF;
      content: attr(data-count);
      font: 400 10px 'Roboto', sans-serif;
      line-height: 12px;
      height: 16px;
      position: absolute;
      left: 20px;
      text-align: center;
      top: 3px;
      width: 16px; }
    .sidebar__list_item.active > a {
      background-color: #F3F3FA; }
      .sidebar__list_item.active > a:before {
        background-color: #00A9E0; }
      .sidebar__list_item.active > a > svg > path {
        fill: #2C79E7; }
    @media only screen and (min-width: 768px) {
      .sidebar__list_item:hover > a {
        background-color: #F3F3FA; }
        .sidebar__list_item:hover > a:before {
          background-color: #00A9E0; }
        .sidebar__list_item:hover > a > svg > path {
          fill: #2C79E7; }
      .sidebar__list_item:hover:not(.active) > a > span {
        -webkit-transform: translateX(3px);
        transform: translateX(3px); }
      .sidebar__list_item:hover:not(.active) > a.collapsed > span {
        -webkit-transform: translateX(0);
        transform: translateX(0); } }
    .sidebar__list_item.active > a > span {
      font-weight: 600; }
    .sidebar__list_item > a.collapse:after {
      background: no-repeat center/contain url("../img/arrow-down-small.svg");
      bottom: 0;
      content: '';
      display: inline-block;
      height: 16px;
      margin: auto 0;
      position: absolute;
      right: 8px;
      top: 0;
      width: 16px;
      transition-property: transform;
      transition-duration: 0.3s;
      transition-timing-function: ease; }
      @media only screen and (min-width: 768px) and (max-width: 1200px) {
        .sidebar__list_item > a.collapse:after {
          display: none; } }
    .sidebar__list_item > a.collapse.collapsed:after {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg); }
  .sidebar__list_link {
    align-items: center;
    color: #566170;
    background-color: transparent;
    border-radius: 7px;
    display: flex;
    height: 40px;
    flex: 1;
    padding-left: 8px;
    padding-right: 8px;
    position: relative;
    transition-property: background-color;
    transition-duration: 0.2s;
    transition-timing-function: ease; }
    .sidebar__list_link:before {
      background-color: transparent;
      content: '';
      height: 16px;
      position: absolute;
      right: 0;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      width: 2px;
      transition-property: background-color;
      transition-duration: 0.2s;
      transition-timing-function: ease; }
    .sidebar__list_link > span {
      margin-left: 12px;
      transition-property: transform;
      transition-duration: 0.3s;
      transition-timing-function: ease; }
      @media only screen and (min-width: 768px) and (max-width: 1200px) {
        .sidebar__list_link > span {
          display: none; } }
    .sidebar__list_link > svg > path {
      transition-property: fill;
      transition-duration: 0.3s;
      transition-timing-function: ease; }
  .sidebar__collapse {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition-property: max-height;
    transition-duration: 0.3s;
    transition-timing-function: ease-out; }
    .sidebar__collapse ul > li {
      display: block;
      padding-left: 26px;
      margin-bottom: 4px; }
      @media only screen and (min-width: 768px) {
        .sidebar__collapse ul > li:hover > a {
          -webkit-transform: translateX(2px);
          transform: translateX(2px); } }
      .sidebar__collapse ul > li > a {
        color: #999999;
        display: block;
        font-family: 'Roboto', sans-serif;
        font-size: 13px;
        font-weight: 400;
        transition-property: transform;
        transition-duration: 0.3s;
        transition-timing-function: ease; }
