/* http://meyerweb.com/eric/tools/css/reset/
  v2.0 | 20110126
  License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&family=Roboto:wght@100&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: normal; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  padding: 0;
  margin: 0; }

*, *:after, *:before {
  box-sizing: border-box; }

:focus {
  outline: none; }

a {
  text-decoration: none; }

input,
textarea,
select {
  border: none;
  border-radius: 0;
  box-shadow: none; }

input,
textarea {
  appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -webkit-appearance: none; }

img, iframe {
  max-width: 100%; }

img, textarea {
  vertical-align: top; }

button {
  border: none;
  background: transparent;
  cursor: pointer; }

.page-header__platform > p, .page-header__btn_plus, .page-header__btn_upgrade, .sidebar__list_link {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5; }
  @media only screen and (max-width: 767) {
    .page-header__platform > p, .page-header__btn_plus, .page-header__btn_upgrade, .sidebar__list_link {
      font-size: 12px; } }

html, body, .page-header__usage {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; }
  @media only screen and (max-width: 767) {
    html, body, .page-header__usage {
      font-size: 13px; } }

.page, .sidebar {
  -ms-overflow-style: none;
  scrollbar-width: none; }
  .page::-webkit-scrollbar, .sidebar::-webkit-scrollbar {
    display: none; }

.main-header {
  align-items: center;
  background-color: #1B2C74;
  display: flex;
  justify-content: space-between;
  height: 48px;
  padding: 0 32px 0 12px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1; }
  .main-header__logo {
    display: inline-block; }
    .main-header__logo > img {
      object-fit: contain; }
  .main-header__content {
    align-items: center;
    display: flex; }
    .main-header__content > div {
      align-items: center;
      display: flex; }
      .main-header__content > div:not(:last-child):after {
        background-color: #6473B5;
        content: '';
        display: inline-block;
        height: 16px;
        margin-left: 16px;
        margin-right: 16px;
        width: 1px; }
  .main-header__notifications > span {
    background: no-repeat center url("../img/bell-icon.svg");
    content: '';
    cursor: pointer;
    display: inline-block;
    height: 24px;
    position: relative;
    width: 24px; }
    .main-header__notifications > span:after {
      background-color: #E63200;
      border: 1px solid #1B2C74;
      border-radius: 50%;
      color: #FFFFFF;
      content: attr(data-count);
      font: 500 12px 'Inter', sans-serif;
      line-height: 16px;
      height: 18px;
      position: absolute;
      right: -5px;
      text-align: center;
      top: -4px;
      width: 18px; }
  .main-header__service > a, .main-header__help > a {
    color: #FFFFFF;
    font: 400 14px 'Inter', sans-serif; }
  .main-header__service_badge {
    background-color: #FBB03B;
    border-radius: 3px;
    color: #FFFFFF;
    font: 600 12px 'Inter', sans-serif;
    height: 24px;
    line-height: 24px;
    margin-left: 8px;
    padding-left: 8px;
    padding-right: 8px; }
  @media only screen and (max-width: 767px) {
    .main-header__service {
      display: none !important; } }
  .main-header__help:before {
    background: no-repeat center url("../img/help-icon.svg");
    content: '';
    height: 15px;
    margin-right: 9px;
    width: 14px; }
  .main-header__account {
    background-color: #00A9E0;
    border-radius: 50%;
    color: #FFFFFF;
    cursor: pointer;
    font: 400 12px 'Roboto', sans-serif;
    height: 32px;
    justify-content: center;
    width: 32px; }

.page-header {
  background-color: #FFFFFF;
  display: flex;
  height: 64px;
  position: fixed;
  top: 48px;
  left: 0;
  right: 0;
  z-index: 1; }
  .page-header:after {
    background-color: #E1E6EC;
    content: '';
    display: block;
    height: 1px;
    left: 0;
    position: absolute;
    right: 0;
    top: 100%;
    width: 100%; }
  .page-header__platform {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 240px;
    gap: 8px;
    padding-left: 12px;
    padding-right: 28px;
    position: relative; }
    @media only screen and (max-width: 767px) {
      .page-header__platform {
        flex-basis: 72px; } }
    .page-header__platform:after {
      background: no-repeat center url("../img/chevron-right-icon.svg");
      content: '';
      height: 16px;
      margin: auto 0;
      position: absolute;
      right: 12px;
      top: 50%;
      -webkit-transform: translate(0, -50%);
      transform: translate(0, -50%);
      width: 16px;
      transition-property: transform;
      transition-duration: 0.3s;
      transition-timing-function: ease; }
    @media only screen and (min-width: 768px) {
      .page-header__platform:hover:after {
        -webkit-transform: translate(-3px, -50%);
        transform: translate(-3px, -50%); } }
    .page-header__platform > p {
      color: #1B2C74; }
      @media only screen and (max-width: 767px) {
        .page-header__platform > p {
          display: none; } }
  .page-header__content {
    align-items: center;
    border-left: 1px solid #E1E6EC;
    display: flex;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 24px;
    flex: 1; }
  .page-header__sidebar-btn {
    border-right: 1px solid #E1E6EC;
    cursor: pointer;
    position: relative;
    width: 48px; }
    @media only screen and (min-width: 768px) {
      .page-header__sidebar-btn {
        display: none; } }
    .page-header__sidebar-btn > span {
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      position: absolute;
      width: 18px; }
      .page-header__sidebar-btn > span:before, .page-header__sidebar-btn > span:after,
      .page-header__sidebar-btn > span > span {
        background: #2C79E7;
        content: "";
        display: block;
        height: 1px;
        border-radius: 1px;
        margin: 5px 0;
        transition-property: transform;
        transition-duration: 0.3s;
        transition-timing-function: ease; }
    .page-header__sidebar-btn.show > span:before {
      -webkit-transform: translateY(6px) rotate(135deg);
      transform: translateY(6px) rotate(135deg); }
    .page-header__sidebar-btn.show > span:after {
      -webkit-transform: translateY(-6px) rotate(-135deg);
      transform: translateY(-6px) rotate(-135deg); }
    .page-header__sidebar-btn.show > span > span {
      -webkit-transform: scale(0);
      transform: scale(0); }
  .page-header__btn_plus {
    color: #1B2C74;
    display: inline-block;
    margin-right: 16px; }
    @media only screen and (max-width: 767px) {
      .page-header__btn_plus {
        display: none; } }
  .page-header__btn_upgrade {
    background-color: #0DB4A7;
    border-radius: 5px;
    color: #FFFFFF;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding-left: 16px;
    padding-right: 16px; }
    @media only screen and (max-width: 767px) {
      .page-header__btn_upgrade {
        background-color: #FBB03B; } }
  .page-header__usage {
    align-items: center;
    color: #1B2C74;
    cursor: pointer;
    display: flex;
    padding-right: 24px;
    position: relative; }
    .page-header__usage:after {
      background: no-repeat center url("../img/chevron-down-icon.svg");
      content: '';
      height: 6px;
      margin: auto 0;
      position: absolute;
      right: 0;
      top: 50%;
      -webkit-transform: translate(0, -50%);
      transform: translate(0, -50%);
      width: 8px;
      transition-property: transform;
      transition-duration: 0.3s;
      transition-timing-function: ease; }
    .page-header__usage > span {
      margin-left: 8px; }
      @media only screen and (max-width: 767px) {
        .page-header__usage > span {
          display: none; } }
    @media only screen and (min-width: 768px) {
      .page-header__usage:hover:after {
        -webkit-transform: translate(0, -20%);
        transform: translate(0, -20%); } }

.usage {
  height: 40px;
  position: relative;
  width: 40px; }
  .usage__outer {
    background-color: rgba(202, 213, 228, 0.4);
    border-radius: 50%;
    padding: 5px;
    height: 40px;
    width: 40px; }
  .usage__inner {
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 50%;
    display: flex;
    height: 30px;
    justify-content: center;
    width: 30px; }
  .usage__count {
    color: #1B2C74;
    font: 600 10px 'Inter', sans-serif; }
  .usage circle {
    fill: none;
    stroke: #0DB4A7;
    stroke-width: 5px;
    stroke-dasharray: 110;
    stroke-dashoffset: 110;
    animation: load-progress .8s linear forwards; }
  .usage svg {
    position: absolute;
    top: 0;
    left: 0; }

@keyframes load-progress {
  to {
    stroke-dashoffset: 93; } }

.page-wrapper {
  background-color: #F2F4F7;
  display: flex;
  height: 100vh;
  overflow: hidden;
  padding-top: 112px; }

.page {
  height: 100%;
  margin-bottom: 60px;
  overflow: auto;
  padding: 24px;
  width: 100%; }

.sidebar {
  background-color: #FFFFFF;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 240px;
  height: auto;
  min-height: 100%;
  overflow: auto;
  padding: 12px 6px;
  position: relative;
  z-index: 1; }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .sidebar {
      flex-basis: 52px; } }
  @media only screen and (max-width: 767px) {
    .sidebar {
      height: calc(100vh - 350px);
      left: 0;
      padding-bottom: 160px;
      position: fixed;
      top: 113px;
      -webkit-transform: translateX(-240px);
      transform: translateX(-240px);
      transition-property: transform;
      transition-duration: 0.3s;
      transition-timing-function: ease; }
      .sidebar.show {
        -webkit-transform: translateX(0);
        transform: translateX(0); } }
  .sidebar__list_subtitle {
    color: #999999;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 24px;
    margin-bottom: 10px;
    padding-left: 6px;
    padding-right: 6px; }
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
      .sidebar__list_subtitle {
        margin-top: 12px; }
        .sidebar__list_subtitle > span {
          display: none; }
        .sidebar__list_subtitle:before {
          background-color: #E1E6EC;
          content: '';
          display: block;
          width: 100%;
          height: 1px; } }
  .sidebar__list_item {
    margin-bottom: 4px;
    position: relative;
    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease; }
    .sidebar__list_item.alert:after {
      background-color: #E63200;
      border: 2px solid #FFFFFF;
      border-radius: 50%;
      color: #FFFFFF;
      content: attr(data-count);
      font: 400 10px 'Roboto', sans-serif;
      line-height: 12px;
      height: 16px;
      position: absolute;
      left: 20px;
      text-align: center;
      top: 3px;
      width: 16px; }
    .sidebar__list_item.active > a, .sidebar__list_item:hover > a {
      background-color: #F3F3FA; }
      .sidebar__list_item.active > a:before, .sidebar__list_item:hover > a:before {
        background-color: #00A9E0; }
      .sidebar__list_item.active > a > svg > path, .sidebar__list_item:hover > a > svg > path {
        fill: #2C79E7; }
    .sidebar__list_item:hover:not(.active) > a > span {
      -webkit-transform: translateX(3px);
      transform: translateX(3px); }
    .sidebar__list_item:hover:not(.active) > a.collapsed > span {
      -webkit-transform: translateX(0);
      transform: translateX(0); }
    .sidebar__list_item.active > a > span {
      font-weight: 600; }
    .sidebar__list_item > a.collapse:after {
      background: no-repeat center url("../img/arrow-down-small.svg");
      bottom: 0;
      content: '';
      display: inline-block;
      height: 16px;
      margin: auto 0;
      position: absolute;
      right: 8px;
      top: 0;
      width: 16px;
      transition-property: transform;
      transition-duration: 0.3s;
      transition-timing-function: ease; }
      @media only screen and (min-width: 768px) and (max-width: 1023px) {
        .sidebar__list_item > a.collapse:after {
          display: none; } }
    .sidebar__list_item > a.collapse.collapsed:after {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg); }
  .sidebar__list_link {
    align-items: center;
    color: #566170;
    background-color: transparent;
    border-radius: 7px;
    display: flex;
    height: 40px;
    flex: 1;
    padding-left: 8px;
    padding-right: 8px;
    position: relative;
    transition-property: background-color;
    transition-duration: 0.2s;
    transition-timing-function: ease; }
    .sidebar__list_link:before {
      background-color: transparent;
      content: '';
      height: 16px;
      position: absolute;
      right: 0;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      width: 2px;
      transition-property: background-color;
      transition-duration: 0.2s;
      transition-timing-function: ease; }
    .sidebar__list_link > span {
      margin-left: 12px;
      transition-property: transform;
      transition-duration: 0.3s;
      transition-timing-function: ease; }
      @media only screen and (min-width: 768px) and (max-width: 1023px) {
        .sidebar__list_link > span {
          display: none; } }
    .sidebar__list_link > svg > path {
      transition-property: fill;
      transition-duration: 0.3s;
      transition-timing-function: ease; }
  .sidebar__collapse {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition-property: max-height;
    transition-duration: 0.3s;
    transition-timing-function: ease-out; }
    .sidebar__collapse ul > li {
      display: block;
      padding-left: 26px;
      margin-bottom: 3px; }
      .sidebar__collapse ul > li:hover > a {
        -webkit-transform: translateX(2px);
        transform: translateX(2px); }
      .sidebar__collapse ul > li > a {
        color: #999999;
        display: block;
        font-family: 'Roboto', sans-serif;
        font-size: 13px;
        font-weight: 400;
        transition-property: transform;
        transition-duration: 0.3s;
        transition-timing-function: ease; }
