//@keyframes fade-in-down {
//  from {
//    transform: translate3d(0, -20px, 0);
//    opacity: 0;
//    visibility: hidden;
//  }
//  to {
//    transform: translateZ(0);
//    opacity: 1;
//    visibility: visible;
//  }
//}

@keyframes fade-in-up {
  from {
    transform: translate3d(0, 20px, 0);
    opacity: 0;
    visibility: hidden;
  }
  to {
    transform: translateZ(0);
    opacity: 1;
    visibility: visible;
  }
}
