@mixin transition($property, $duration: .3s, $type: ease) {
  transition-property: #{$property};
  transition-duration: $duration;
  transition-timing-function: $type;
}


@mixin shine($move) {
  @media only screen and (min-width: #{$breakpoint-sm + 1}px) {
    overflow: hidden;
    position: relative;
    &:before,
    &:after {
      content: '';
      display: block;
      position: absolute;
      height: 100%;
      left: 0;
      top: 0;
      transform: translateX(-100px) skewX(-15deg);
    }
    &:before {
      background: rgba(255, 255, 255, 0.5);
      width: 60px;
      opacity: .5;
      filter: blur(30px);
    }
    &:after {
      background: rgba(255, 255, 255, .2);
      width: 30px;
      opacity: 0;
      filter: blur(5px);
    }
    &:hover{
      &:before,
      &:after {
        transform: translateX(#{$move}px) skewX(-15deg);
        transition: .7s;
      }
      &:before{
        opacity: 0.6;
      }
      &:after{
        opacity: 1;
      }
    }
  }
}

