html, body {
  @extend %fontMain-md;
}

// main-header
.main-header {
  align-items: center;
  background-color: $colorPrimeDark;
  display: flex;
  justify-content: space-between;
  height: $headerHeightMain;
  padding: 0 32px 0 12px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  &__logo {
    display: inline-block;
    & > img {
      object-fit: contain;
    }
  }
  &__content {
    align-items: center;
    display: flex;
    & > div {
      align-items: center;
      display: flex;
      &:not(:last-child):after {
        background-color: #6473B5;
        content: '';
        display: inline-block;
        height: 16px;
        margin-left: 16px;
        margin-right: 16px;
        width: 1px;
      }
    }
  }

  &__notifications {
    & > span {
      background: no-repeat center url('../img/bell-icon.svg');
      content: '';
      cursor: pointer;
      display: inline-block;
      height: 24px;
      position: relative;
      width: 24px;
      &:after {
        background-color: #E63200;
        border: 1px solid $colorPrimeDark;
        border-radius: 50%;
        color: $colorTextWhite;
        content: attr(data-count);
        font: 500 12px 'Inter', sans-serif;
        line-height: 16px;
        height: 18px;
        position: absolute;
        right: -5px;
        text-align: center;
        top: -4px;
        width: 18px;
      }
    }
  }
  &__service,
  &__help {
    & > a {
      color: $colorTextWhite;
      font: 400 14px 'Inter', sans-serif;
    }
  }
  &__service {
    &_badge {
      background-color: #FBB03B;
      border-radius: 3px;
      color: $colorTextWhite;
      font: 600 12px 'Inter', sans-serif;
      height: 24px;
      line-height: 24px;
      margin-left: 8px;
      padding-left: 8px;
      padding-right: 8px;
    }
    @media only screen and (max-width: #{$breakpoint-sm}px) {
      display: none !important;
    }
  }
  &__help {
    &:before {
      background: no-repeat center url('../img/help-icon.svg');
      content: '';
      height: 15px;
      margin-right: 9px;
      width: 14px;
    }
  }
  &__account {
    background-color: $colorPrimeLight;
    border-radius: 50%;
    color: $colorTextWhite;
    cursor: pointer;
    font: 400 12px 'Roboto', sans-serif;
    height: 32px;
    justify-content: center;
    width: 32px;
  }
}


// main
//main {
//  min-height: calc(100vh - #{$headerHeightMain});
//  display: flex;
//  flex-direction: column;
//}

// page-header
.page-header {
  background-color: $backgroundMain;
  display: flex;
  height: $headerHeightPage;
  position: fixed;
  top: $headerHeightMain;
  left: 0;
  right: 0;
  z-index: 1;
  &:after {
    background-color: $borderColorHeader;
    content: '';
    display: block;
    height: 1px;
    left: 0;
    position: absolute;
    right: 0;
    top: 100%;
    width: 100%;
  }
  &__platform {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: $sidebarWidth;
    gap: 8px;
    padding-left: 12px;
    padding-right: 28px;
    position: relative;
    @media only screen and (max-width: #{$breakpoint-sm}px) {
      flex-basis: 72px;
    }
    &:after {
      background: no-repeat center url('../img/chevron-right-icon.svg');
      content: '';
      height: 16px;
      margin: auto 0;
      position: absolute;
      right: 12px;
      top: 50%;
      transform: translate(0, -50%);
      width: 16px;
      @include transition(transform);
    }
    @media only screen and (min-width: #{$breakpoint-sm + 1}px) {
      &:hover:after {
        transform: translate(-3px, -50%);
      }
    }
    & > p {
      color: $colorPrimeDark;
      @extend %fontMain-sm;
      @media only screen and (max-width: #{$breakpoint-sm}px) {
        display: none;
      }
    }
  }
  &__content {
    align-items: center;
    border-left: 1px solid $borderColorHeader;
    display: flex;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 24px;
    flex: 1;
  }
  &__sidebar-btn {
    border-right: 1px solid $borderColorHeader;
    cursor: pointer;
    position: relative;
    width: 48px;
    @media only screen and (min-width: #{$breakpoint-sm + 1}px) {
      display: none;
    }
    & > span {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
      width: 18px;
      &:before,
      &:after,
      & > span {
        background: #2C79E7;
        content: "";
        display: block;
        height: 1px;
        border-radius: 1px;
        margin: 5px 0;
        @include transition(transform);
      }
    }
    &.show > span {
      &:before {
        transform: translateY(6px) rotate(135deg);
      }
      &:after {
        transform: translateY(-6px) rotate(-135deg);
      }
      & > span {
        transform: scale(0);
      }
    }
  }
  &__btn_plus {
    color: $colorPrimeDark;
    display: inline-block;
    margin-right: 16px;
    @extend %fontMain-sm;
    @media only screen and (max-width: #{$breakpoint-sm}px) {
      display: none;
    }
  }
  &__btn_upgrade {
    background-color: $colorGreen;
    border-radius: 5px;
    color: $colorTextWhite;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding-left: 16px;
    padding-right: 16px;
    @extend %fontMain-sm;
    @media only screen and (max-width: #{$breakpoint-sm}px) {
      background-color: #FBB03B;
    }
  }
  &__usage {
    align-items: center;
    color: $colorPrimeDark;
    cursor: pointer;
    display: flex;
    padding-right: 24px;
    position: relative;
    @extend %fontMain-md;
    &:after {
      background: no-repeat center url('../img/chevron-down-icon.svg');
      content: '';
      height: 6px;
      margin: auto 0;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(0, -50%);
      width: 8px;
      @include transition(transform);
    }
    & > span {
      margin-left: 8px;
      @media only screen and (max-width: #{$breakpoint-sm}px) {
        display: none;
      }
    }
    @media only screen and (min-width: #{$breakpoint-sm + 1}px) {
      &:hover:after {
        transform: translate(0, -20%);
      }
    }
  }
}

// usage - animated progress
.usage {
  height: 40px;
  position: relative;
  width: 40px;
  &__outer {
    background-color: rgba(202, 213, 228, .4);
    border-radius: 50%;
    padding: 5px;
    height: 40px;
    width: 40px;
  }
  &__inner {
    align-items: center;
    background-color: $backgroundMain;
    border-radius: 50%;
    display: flex;
    height: 30px;
    justify-content: center;
    width: 30px;
  }
  &__count {
    color: $colorPrimeDark;
    font: 600 10px 'Inter', sans-serif;
  }
  circle {
    fill: none;
    stroke: $colorGreen;
    stroke-width: 5px;
    stroke-dasharray: 110;
    stroke-dashoffset: 110;
    animation: load-progress .8s linear forwards;
  }
  svg {
    position: absolute;
    top: 0;
    left: 0;
  }
  @keyframes load-progress {
    to {
      stroke-dashoffset: 93;
    }
  }
}

// page
.page-wrapper {
  background-color: $backgroundPage;
  display: flex;
  height: 100vh;
  overflow: hidden;
  padding-top: $headerHeightPage + $headerHeightMain;
}

.page {
  height: 100%;
  margin-bottom: 60px;
  overflow: auto;
  padding: 24px;
  width: 100%;
  @extend %disableScrollbar;
}








// sidebar
.sidebar {
  background-color: $backgroundMain;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 240px;
  height: auto;
  min-height: 100%;
  overflow: auto;
  padding: 12px 6px;
  position: relative;
  z-index: 1;
  @extend %disableScrollbar;
  @media only screen and (min-width: #{$breakpoint-sm + 1}px) and (max-width: #{$breakpoint-md}px) {
    flex-basis: 52px;
  }
  @media only screen and (max-width: #{$breakpoint-sm}px) {
    height: calc(100vh - 350px);
    left: 0;
    padding-bottom: 160px;
    position: fixed;
    top: $headerHeightPage + $headerHeightMain + 1px;

    transform: translateX(-$sidebarWidth);
    @include transition(transform);
    &.show {
      transform: translateX(0);
    }
  }
  &__list {
    &_subtitle {
      color: #999999;
      font-family: 'Roboto', sans-serif;
      font-size: 13px;
      font-weight: 400;
      line-height: 20px;
      margin-top: 24px;
      margin-bottom: 10px;
      padding-left: 6px;
      padding-right: 6px;
      @media only screen and (min-width: #{$breakpoint-sm + 1}px) and (max-width: #{$breakpoint-md}px) {
        margin-top: 12px;
        & > span {
          display: none;
        }
        &:before {
          background-color: $borderColorHeader;
          content: '';
          display: block;
          width: 100%;
          height: 1px;
        }
      }
    }
    &_item {
      margin-bottom: 4px;
      position: relative;
      @include transition(background-color);
      &.alert:after {
        background-color: #E63200;
        border: 2px solid $colorTextWhite;
        border-radius: 50%;
        color: $colorTextWhite;
        content: attr(data-count);
        font: 400 10px 'Roboto', sans-serif;
        line-height: 12px;
        height: 16px;
        position: absolute;
        left: 20px;
        text-align: center;
        top: 3px;
        width: 16px;
      }
      &.active,
      &:hover {
        & > a {
          background-color: #F3F3FA;
          &:before {
            background-color: $colorPrimeLight;
          }
          & > svg > path {
            fill: #2C79E7;
          }
        }
      }
      &:hover:not(.active) {
        & > a {
          & > span {
            transform: translateX(3px);
          }
          &.collapsed > span {
            transform: translateX(0);
          }
        }
      }
      &.active {
        & > a > span {
          font-weight: 600;
        }
      }
      & > a.collapse {
        &:after {
          background: no-repeat center url('../img/arrow-down-small.svg');
          bottom: 0;
          content: '';
          display: inline-block;
          height: 16px;
          margin: auto 0;
          position: absolute;
          right: 8px;
          top: 0;
          width: 16px;
          @include transition(transform);
          @media only screen and (min-width: #{$breakpoint-sm + 1}px) and (max-width: #{$breakpoint-md}px) {
            display: none;
          }
        }
        &.collapsed {
          &:after {
            transform: rotate(180deg);
          }
        }
      }
    }
    &_link {
      align-items: center;
      color: $colorTextLight;
      background-color: transparent;
      border-radius: 7px;
      display: flex;
      height: 40px;
      flex: 1;
      padding-left: 8px;
      padding-right: 8px;
      position: relative;
      @extend %fontMain-sm;
      @include transition(background-color, .2s);
      &:before {
        background-color: transparent;
        content: '';
        height: 16px;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 2px;
        @include transition(background-color, .2s);
      }
      & > span {
        margin-left: 12px;
        @include transition(transform);
        @media only screen and (min-width: #{$breakpoint-sm + 1}px) and (max-width: #{$breakpoint-md}px) {
          display: none;
        }
      }
      & > svg > path {
        @include transition(fill);
      }
    }
  }
  &__collapse {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    @include transition(max-height, .3s, ease-out);
    ul > li {
      display: block;
      padding-left: 26px;
      margin-bottom: 3px;
      &:hover > a {
        transform: translateX(2px);
      }
      & > a {
        color: #999999;
        display: block;
        font-family: 'Roboto', sans-serif;
        font-size: 13px;
        font-weight: 400;
        @include transition(transform);
      }
    }
  }
}






