html, body {
  @extend %fontStyle-md;
}

// main-header
.main-header {
  align-items: center;
  background-color: $colorPrimeDark;
  display: flex;
  justify-content: space-between;
  height: $headerHeightMain;
  padding: 0 32px 0 12px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  &__logo {
    display: inline-block;
    & > img {
      object-fit: contain;
    }
  }
  &__content {
    align-items: center;
    display: flex;
    & > div {
      align-items: center;
      display: flex;
      &:not(:last-child):after {
        background-color: #6473B5;
        content: '';
        display: inline-block;
        height: 16px;
        margin-left: 16px;
        margin-right: 16px;
        width: 1px;
      }
    }
  }
  &__notifications {
    & > span {
      background: no-repeat center/contain url('../img/bell-icon.svg');
      content: '';
      cursor: pointer;
      display: inline-block;
      height: 24px;
      position: relative;
      width: 24px;
      &:after {
        background-color: $colorRed;
        border: 1px solid $colorPrimeDark;
        border-radius: 50%;
        color: $colorTextWhite;
        content: attr(data-count);
        font: 500 12px 'Inter', sans-serif;
        line-height: 16px;
        height: 18px;
        position: absolute;
        right: -5px;
        text-align: center;
        top: -4px;
        width: 18px;
      }
    }
  }
  &__service,
  &__help {
    & > a {
      color: $colorTextWhite;
      font: 400 13px 'Inter', sans-serif;
    }
  }
  &__service {
    &_badge {
      background-color: #FBB03B;
      border-radius: 3px;
      color: $colorTextWhite;
      font: 600 12px 'Inter', sans-serif;
      height: 24px;
      line-height: 24px;
      margin-left: 8px;
      padding-left: 8px;
      padding-right: 8px;
    }
    @media only screen and (max-width: #{$breakpoint-sm}px) {
      display: none !important;
    }
  }
  &__help > a {
    &:before {
      background: no-repeat center/contain url('../img/help-icon.svg');
      content: '';
      display: inline-block;
      height: 15px;
      margin-bottom: 2px;
      margin-right: 9px;
      vertical-align: middle;
      width: 14px;
    }
  }
  &__account {
    background-color: $colorPrimeLight;
    border-radius: 50%;
    color: $colorTextWhite;
    cursor: pointer;
    font: 400 12px 'Roboto', sans-serif;
    height: 32px;
    justify-content: center;
    width: 32px;
  }
}

// page-header
.page-header {
  background-color: $backgroundMain;
  display: flex;
  height: $headerHeightPage;
  position: fixed;
  top: $headerHeightMain;
  left: 0;
  right: 0;
  z-index: 1;
  &:after {
    background-color: $borderColorHeader;
    content: '';
    display: block;
    height: 1px;
    left: 0;
    position: absolute;
    right: 0;
    top: 100%;
    width: 100%;
  }
  &__platform {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: $sidebarWidth;
    gap: 8px;
    padding-left: 12px;
    padding-right: 28px;
    position: relative;
    @media only screen and (max-width: #{$breakpoint-sm}px) {
      flex-basis: 72px;
    }
    &:after {
      background: no-repeat center/contain url('../img/chevron-right-icon.svg');
      content: '';
      height: 16px;
      margin: auto 0;
      position: absolute;
      right: 12px;
      top: 50%;
      -webkit-transform: translate(0, -50%);
      transform: translate(0, -50%);
      width: 16px;
      @include transition(transform);
    }
    @media only screen and (min-width: #{$breakpoint-sm + 1}px) {
      &:hover:after {
        -webkit-transform: translate(-3px, -50%);
        transform: translate(-3px, -50%);
      }
    }
    & > p {
      color: $colorPrimeDark;
      @extend %fontStyle-sm;
      @media only screen and (max-width: #{$breakpoint-sm}px) {
        display: none;
      }
    }
  }
  &__content {
    align-items: center;
    border-left: 1px solid $borderColorHeader;
    display: flex;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 24px;
    flex: 1;
  }
  &__sidebar-btn {
    border-right: 1px solid $borderColorHeader;
    cursor: pointer;
    position: relative;
    width: 48px;
    @media only screen and (min-width: #{$breakpoint-sm + 1}px) {
      display: none;
    }
    & > span {
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      position: absolute;
      width: 18px;
      &:before,
      &:after,
      & > span {
        background: #2C79E7;
        content: "";
        display: block;
        height: 1px;
        border-radius: 1px;
        margin: 5px 0;
        @include transition(transform);
      }
    }
    &.show > span {
      &:before {
        -webkit-transform: translateY(6px) rotate(135deg);
        transform: translateY(6px) rotate(135deg);
      }
      &:after {
        -webkit-transform: translateY(-6px) rotate(-135deg);
        transform: translateY(-6px) rotate(-135deg);
      }
      & > span {
        -webkit-transform: scale(0);
        transform: scale(0);
      }
    }
  }
  &__btns {
    align-items: center;
    display: flex;
  }
  &__btn_plus {
    color: $colorPrimeDark;
    display: inline-block;
    margin-right: 16px;
    @extend %fontStyle-sm;
    @media only screen and (max-width: #{$breakpoint-sm}px) {
      display: none;
      font-size: 14px;
    }
  }
  &__btn_upgrade {
    background-color: $colorGreen;
    border-radius: 5px;
    color: $colorTextWhite;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding-left: 16px;
    padding-right: 16px;
    @extend %fontStyle-sm;
    @include shine(200);
    @media only screen and (max-width: #{$breakpoint-sm}px) {
      background-color: #FBB03B;
      font-size: 14px;
    }
  }
  &__usage {
    align-items: center;
    color: $colorPrimeDark;
    cursor: pointer;
    display: flex;
    padding-right: 24px;
    position: relative;
    @extend %fontStyle-md;
    @media only screen and (max-width: #{$breakpoint-sm}px) {
      padding-right: 12px;
    }
    &:after {
      background: no-repeat center/contain url('../img/chevron-down-icon.svg');
      content: '';
      height: 6px;
      margin: auto 0;
      position: absolute;
      right: 0;
      top: 50%;
      -webkit-transform: translate(0, -50%);
      transform: translate(0, -50%);
      width: 8px;
      @include transition(transform);
    }
    & > span {
      color: $colorPrimeDark;
      font: 400 16px 'Inter', sans-serif;
      margin-left: 8px;
      @media only screen and (max-width: #{$breakpoint-sm}px) {
        display: none;
      }
    }
    @media only screen and (min-width: #{$breakpoint-sm + 1}px) {
      &:hover:after {
        -webkit-transform: translate(0, -20%);
        transform: translate(0, -20%);
      }
    }
  }
}

// usage - animated progress
.usage {
  height: 40px;
  position: relative;
  width: 40px;
  &__outer {
    background-color: rgba(202, 213, 228, .4);
    border-radius: 50%;
    padding: 5px;
    height: 40px;
    width: 40px;
  }
  &__inner {
    align-items: center;
    background-color: $backgroundMain;
    border-radius: 50%;
    display: flex;
    height: 30px;
    justify-content: center;
    width: 30px;
  }
  &__count {
    color: $colorPrimeDark;
    font: 600 10px 'Inter', sans-serif;
  }
  circle {
    fill: none;
    stroke: $colorGreen;
    stroke-width: 5px;
    stroke-dasharray: 110;
    stroke-dashoffset: 110;
    animation: load-progress .8s linear forwards;
  }
  svg {
    position: absolute;
    top: 0;
    left: 0;
  }
  @keyframes load-progress {
    to {
      stroke-dashoffset: 93;
    }
  }
}

// page
.page-wrapper {
  background-color: $backgroundPage;
  display: flex;
  height: 100vh;
  overflow: hidden;
  padding-top: $headerHeightPage + $headerHeightMain;
}

.page {
  height: 100%;
  margin-bottom: 60px;
  overflow: auto;
  padding: 24px;
  width: 100%;
  @extend %disableScrollbar;
  @media only screen and (max-width: #{$breakpoint-sm}px) {
    padding: 16px;
  }
  &__title {
    color: #272727;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5;
    @extend %pageSectionDistance;
    &:before {
      background: no-repeat center/contain url('../img/email-senders-icon.svg');
      content: '';
      display: inline-block;
      height: 24px;
      margin-right: 12px;
      margin-left: 8px;
      vertical-align: middle;
      width: 24px;
    }
  }
  &__content {
    background-color: $backgroundMain;
    border-radius: 20px;
    display: flex;
    margin-bottom: 30px;
    min-height: 600px;
    @media only screen and (max-width: #{$breakpoint-md}px) {
      background-color: transparent;
      flex-direction: column;
    }
  }
}

// select
.select {
  background-color: $backgroundMain;
  border-radius: 10px;
  padding: 16px 24px;
  width: 100%;
  @extend %pageSectionDistance;
  &__btn-wrap {
    display: inline-block;
    max-width: 100%;
    position: relative;
  }
  &__btn {
    background-color: $backgroundMain;
    border: 1px solid $borderColorSelect;
    border-radius: 6px;
    color: $colorDark;
    height: 40px;
    line-height: 40px;
    min-width: 240px;
    max-width: 100%;
    overflow: hidden;
    padding-left: 12px;
    padding-right: 30px;
    position: relative;
    text-align: initial;
    text-overflow: ellipsis;
    white-space: nowrap;
    @extend %fontStyle-sm;
    &:after {
      background: no-repeat center/contain url('../img/arrow-down-large.svg'), $backgroundMain;
      bottom: 0;
      content: '';
      display: inline-block;
      height: 24px;
      margin: auto 0;
      position: absolute;
      right: 8px;
      top: 0;
      width: 24px;
      @include transition(transform);
    }
    &.collapsed {
      &:after {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
      }
      & + div {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  &__collapse {
    background-color: $backgroundMain;
    border: 1px solid $borderColorSelect;
    border-radius: 6px;
    min-height: 70px;
    opacity: 0;
    padding: 10px 8px;
    position: absolute;
    top: 102%;
    left: 0;
    right: 0;
    visibility: hidden;
    width: 100%;
    @include transition(all);
    &_input {
      border: 1px solid $borderColorSelect;
      border-radius: 6px;
      color: $colorDark;
      display: inline-block;
      height: 40px;
      margin-bottom: 8px;
      padding-left: 12px;
      padding-right: 12px;
      width: 100%;
    }
    &_text {
      color: $colorPrimeLight;
      word-break: break-word;
      @extend %fontStyle-md;
    }
  }
}

// expired
.expired {
  background-color: #F7F9FC;
  flex: 0 0 44%;
  padding: 40px 40px 56px;
  text-align: center;
  @media only screen and (max-width: #{$breakpoint-sm}px) {
    padding: 40px;
  }
  &__title {
    color: $colorTextDark;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 1.35;
    margin-bottom: 16px;
    @media only screen and (max-width: #{$breakpoint-sm}px) {
      font-size: 22px;
    }
  }
  &__desc {
    color: $colorTextDark;
    margin: 0 auto 24px;
    max-width: 600px;
    @extend %fontStyle-sm;
  }
  @media only screen and (max-width: #{$breakpoint-md}px) {
    border-radius: 20px;
  }
  @media only screen and (max-width: #{$breakpoint-sm}px) {
    padding: 24px 24px 40px;
  }
  &__spf {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
    &_title {
      margin-bottom: 12px;
      @extend %fontStyle-sm;
    }
    &_img {
      margin-bottom: 18px;
      object-fit: contain;
    }
    &_link {
      align-self: center;
      color: $colorPrimeLight;
      @extend %fontStyle-sm;
    }
  }
  &__lookups {
    display: flex;
    gap: 16px;
    justify-content: center;
    margin-bottom: 40px;
    @media only screen and (max-width: #{$breakpoint-lg}px) {
      align-items: center;
      flex-direction: column;
      margin-bottom: 24px;
    }
    &_card {
      background-color: $backgroundMain;
      box-shadow: 0 10px 20px rgba(136, 166, 211, .1);
      border-radius: 20px;
      flex: 1 0;
      max-width: 280px;
      min-height: 100px;
      padding: 24px;
      text-align: initial;
      @media only screen and (max-width: #{$breakpoint-lg}px) {
        max-width: 100%;
        width: 280px;
      }
    }
    &_desc {
      margin-bottom: 8px;
      @extend %fontStyle-md;
    }
    &_value {
      @extend %fontStyle-lg;
      &.without {
        color: $colorRed;
      }
      &.with {
        color: $colorGreen;
      }
    }
  }
  &__benefits {
    margin-left: auto;
    margin-right: auto;
    max-width: 312px;
    &_badge {
      background: linear-gradient(125deg, rgba(255, 255, 255, 1) -13%, rgba(255, 255, 255, .8) 110%);
      box-shadow: 0 10px 20px rgba(136, 166, 211, .1);
      border-radius: 20px;
      color: $colorTextDark;
      display: inline-block;
      font-family: 'Roboto', sans-serif;
      font-size: 12px;
      font-weight: 400;
      line-height: 34px;
      height: 34px;
      margin-bottom: 8px;
      padding-left: 12px;
      padding-right: 12px;
      @media only screen and (max-width: #{$breakpoint-sm}px) {
        font-size: 11px;
      }
      &:before {
        background: no-repeat center/contain url('../img/crown-icon.svg');
        content: '';
        display: inline-block;
        height: 16px;
        margin-right: 9px;
        vertical-align: middle;
        width: 16px;
      }
    }
    &_title {
      color: $colorDark;
      display: inline-block;
      font-family: 'Roboto', sans-serif;
      font-size: 22px;
      font-weight: 600;
      line-height: 1.5;
      margin-bottom: 16px;
      @media only screen and (max-width: #{$breakpoint-sm}px) {
        font-size: 19px;
      }
    }
    &_list {
      text-align: initial;
    }
    &_item {
      color: $colorTextDark;
      margin-bottom: 5px;
      opacity: 0;
      visibility: hidden;
      -webkit-transform: translate3d(0, 20px, 0);
      transform: translate3d(0, 20px, 0);
      @extend %fontStyle-sm;
      &:before {
        background: no-repeat center/contain url('../img/check-circle-icon.svg');
        content: '';
        display: inline-block;
        height: 16px;
        margin-right: 9px;
        vertical-align: middle;
        width: 17px;
      }
      &.appear {
        animation: fade-in-up .8s ease forwards .3s;
      }
    }
  }
}

// upgrade
.upgrade {
  flex: 0 0 56%;
  padding: 48px 40px;
  text-align: center;
  &__title {
    color: $colorDark;
    margin: 0 auto 24px;
    max-width: 400px;
    @extend %fontStyle-lg;
    & > span {
      color: $colorPrimeLight;
    }
  }
  &__card {
    margin: 0 auto 48px;
    min-height: 400px;
    position: relative;
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
    opacity: 0;
    visibility: hidden;
    width: 400px;
    &:after,
    &:before {
      background-color: $backgroundMain;
      border-radius: 20px;
      bottom: 50px;
      box-shadow: 0 15px 50px rgba(136, 166, 211, 0.3);
      content: '';
      display: block;
      height: 420px;
      min-height: 400px;
      padding: 24px;
      position: absolute;
      -webkit-transform: rotate(0);
      transform: rotate(0);
      opacity: 0;
      visibility: hidden;
      width: 400px;
      z-index: -1;
      @media only screen and (max-width: #{$breakpoint-md}px) {
        width: 360px;
      }
      @media only screen and (max-width: #{$breakpoint-sm}px) {
        bottom: 25px;
        height: 360px;
        width: 250px;
      }
    }
    &:after {
      right: -25px;
      -webkit-transform: rotate(3deg);
      transform: rotate(3deg);
      transform-origin: left bottom;
      @media only screen and (max-width: #{$breakpoint-sm}px) {
        right: -20px;
      }
    }
    &:before {
      left: -25px;
      -webkit-transform: rotate(-3deg);
      transform: rotate(-3deg);
      transform-origin: right bottom;
      @media only screen and (max-width: #{$breakpoint-sm}px) {
        left: -20px;
      }
    }
    &.appear {
      animation: fade-in-up 1.5s ease forwards;
      &:after {
        animation: fade-in-right 1s ease 1.4s forwards;
      }
      &:before {
        animation: fade-in-left 1.3s ease .8s forwards;
      }
    }
    @media only screen and (max-width: #{$breakpoint-md}px) {
      width: 360px;
    }
    @media only screen and (max-width: #{$breakpoint-sm}px) {
      margin-bottom: 32px;
      width: 250px;
    }
    &_wrapper {
      background-color: $backgroundMain;
      border-radius: 20px;
      box-shadow: 0 15px 50px rgba(136, 166, 211, 0.3);
      height: 100%;
      padding: 24px;
      width: 100%;
      position: relative;
      z-index: 1;
    }
    &_title {
      color: $colorPrimeDark;
      margin-bottom: 8px;
      @extend %fontStyle-lg;
    }
    &_subtitle {
      color: $colorCard;
      margin-bottom: 8px;
      @extend %fontStyle-md;
      @media only screen and (max-width: #{$breakpoint-sm}px) {
        font-size: 13px;
      }
    }
    &_price {
      color: $colorPrimeDark;
      font-family: 'Roboto', sans-serif;
      font-size: 32px;
      font-weight: 700;
      line-height: 1.35;
      @media only screen and (max-width: #{$breakpoint-sm}px) {
        font-size: 28px;
      }
    }
    &_desc {
      color: $colorCard;
      margin-bottom: 32px;
      font-size: 12px;
      font-weight: 400;
      line-height: 1.5;
      @media only screen and (max-width: #{$breakpoint-sm}px) {
        font-size: 11px;
      }
    }
    &_list {
      text-align: initial;
      margin-bottom: 32px;
      @media only screen and (max-width: #{$breakpoint-sm}px) {
        margin-bottom: 18px;
      }
    }
    &_item {
      color: $colorTextLight;
      margin-bottom: 8px;
      opacity: 0;
      visibility: hidden;
      -webkit-transform: translate3d(0, 20px, 0);
      transform: translate3d(0, 20px, 0);
      @extend %fontStyle-md;
      @media only screen and (max-width: #{$breakpoint-sm}px) {
        font-size: 13px;
        margin-bottom: 4px;
      }
      &:before {
        background: no-repeat center/contain url('../img/check-icon.svg');
        content: '';
        display: inline-block;
        height: 25px;
        margin-right: 8px;
        vertical-align: middle;
        width: 24px;
      }
      &.appear {
        animation: fade-in-up .8s ease forwards .3s;
      }
    }
    &_btn {
      background-color: $colorPrimeLight;
      border-radius: 5px;
      color: $colorTextWhite;
      font-family: 'Inter', sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.5;
      height: 40px;
      padding-left: 12px;
      padding-right: 12px;
      width: 100%;
      @include shine(400);
    }
  }
  &__link {
    color: $colorPrimeLight;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
  }
}

// switcher
.switcher {
  background-color: #F3F3FA;
  border-radius: 10px;
  display: flex;
  height: 40px;
  margin: 0 auto 40px;
  position: relative;
  text-align: center;
  width: 252px;
  &:after {
    background-color: $colorGreen;
    border-radius: 2px;
    color: $colorTextWhite;
    content: attr(data-save);
    display: block;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 10px;
    height: 20px;
    line-height: 20px;
    padding-left: 8px;
    padding-right: 8px;
    position: absolute;
    right: 20px;
    top: -11px;
  }
  & > input {
    bottom: 0;
    cursor: pointer;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
    & ~ span:not(:last-child) {
      color: $colorPrimeLight;
    }
    & ~ span:last-child {
      color: $colorTextLight;
    }
    &:checked {
      & + label:before {
        -webkit-transform: translateX(120px);
        transform: translateX(120px);
        @include transition(transform);
      }
      & ~ span:not(:last-child) {
        color: $colorTextLight;
      }
      & ~ span:last-child {
        color: $colorPrimeLight;
      }
    }
    & + label {
      display: block;
      height: 100%;
      pointer-events: none;
      position: absolute;
      user-select: none;
      width: 100%;
      &:before {
        content: "";
        background: $backgroundMain;
        border-radius: 6px;
        height: 32px;
        left: 4px;
        position: absolute;
        top: 4px;
        -webkit-transform: translateX(0);
        transform: translateX(0);
        width: 124px;
        @include transition(transform);
      }
      & ~ span {
        flex: 0 0 50%;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 42px;
        position: relative;
        @include transition(color);
      }
    }
  }
}

// sidebar
.sidebar {
  background-color: $backgroundMain;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 240px;
  height: auto;
  min-height: 100%;
  overflow: auto;
  padding: 12px 6px;
  position: relative;
  z-index: 1;
  @extend %disableScrollbar;
  @media only screen and (min-width: #{$breakpoint-sm + 1}px) and (max-width: #{$breakpoint-md}px) {
    flex-basis: 52px;
  }
  @media only screen and (max-width: #{$breakpoint-sm}px) {
    height: calc(100vh - 350px);
    left: 0;
    padding-bottom: 160px;
    position: fixed;
    top: $headerHeightPage + $headerHeightMain + 1px;
    -webkit-transform: translateX(-$sidebarWidth);
    transform: translateX(-$sidebarWidth);
    @include transition(transform);
    &.show {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }
  &__list {
    &_subtitle {
      color: #999999;
      font-family: 'Roboto', sans-serif;
      font-size: 13px;
      font-weight: 400;
      line-height: 20px;
      margin-top: 24px;
      margin-bottom: 10px;
      padding-left: 6px;
      padding-right: 6px;
      @media only screen and (min-width: #{$breakpoint-sm + 1}px) and (max-width: #{$breakpoint-md}px) {
        margin-top: 12px;
        & > span {
          display: none;
        }
        &:before {
          background-color: $borderColorHeader;
          content: '';
          display: block;
          width: 100%;
          height: 1px;
        }
      }
    }
    &_item {
      margin-bottom: 4px;
      position: relative;
      @include transition(background-color);
      &.alert:after {
        background-color: $colorRed;
        border: 2px solid $colorTextWhite;
        border-radius: 50%;
        color: $colorTextWhite;
        content: attr(data-count);
        font: 400 10px 'Roboto', sans-serif;
        line-height: 12px;
        height: 16px;
        position: absolute;
        left: 20px;
        text-align: center;
        top: 3px;
        width: 16px;
      }
      &.active {
        & > a {
          background-color: #F3F3FA;
          &:before {
            background-color: $colorPrimeLight;
          }
          & > svg > path {
            fill: #2C79E7;
          }
        }
      }
      @media only screen and (min-width: #{$breakpoint-sm + 1}px) {
        &:hover {
          & > a {
            background-color: #F3F3FA;
            &:before {
              background-color: $colorPrimeLight;
            }
            & > svg > path {
              fill: #2C79E7;
            }
          }
          &:not(.active) {
            & > a {
              & > span {
                -webkit-transform: translateX(3px);
                transform: translateX(3px);
              }

              &.collapsed > span {
                -webkit-transform: translateX(0);
                transform: translateX(0);
              }
            }
          }
        }
      }
      &.active {
        & > a > span {
          font-weight: 600;
        }
      }
      & > a.collapse {
        &:after {
          background: no-repeat center/contain url('../img/arrow-down-small.svg');
          bottom: 0;
          content: '';
          display: inline-block;
          height: 16px;
          margin: auto 0;
          position: absolute;
          right: 8px;
          top: 0;
          width: 16px;
          @include transition(transform);
          @media only screen and (min-width: #{$breakpoint-sm + 1}px) and (max-width: #{$breakpoint-md}px) {
            display: none;
          }
        }
        &.collapsed {
          &:after {
            -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
          }
        }
      }
    }
    &_link {
      align-items: center;
      color: $colorTextLight;
      background-color: transparent;
      border-radius: 7px;
      display: flex;
      height: 40px;
      flex: 1;
      padding-left: 8px;
      padding-right: 8px;
      position: relative;
      @extend %fontStyle-sm;
      @include transition(background-color, .2s);
      &:before {
        background-color: transparent;
        content: '';
        height: 16px;
        position: absolute;
        right: 0;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 2px;
        @include transition(background-color, .2s);
      }
      & > span {
        margin-left: 12px;
        @include transition(transform);
        @media only screen and (min-width: #{$breakpoint-sm + 1}px) and (max-width: #{$breakpoint-md}px) {
          display: none;
        }
      }
      & > svg > path {
        @include transition(fill);
      }
    }
  }
  &__collapse {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    @include transition(max-height, .3s, ease-out);
    ul > li {
      display: block;
      padding-left: 26px;
      margin-bottom: 4px;
      @media only screen and (min-width: #{$breakpoint-sm + 1}px) {
        &:hover > a {
          -webkit-transform: translateX(2px);
          transform: translateX(2px);
        }
      }
      & > a {
        color: #999999;
        display: block;
        font-family: 'Roboto', sans-serif;
        font-size: 13px;
        font-weight: 400;
        @include transition(transform);
      }
    }
  }
}






