html, body {
  @extend %fontMain-md;
}


// main-header
.main-header {
  align-items: center;
  background-color: $colorPrimeDark;
  display: flex;
  justify-content: space-between;
  height: $headerHeightMain;
  padding: 0 32px 0 12px;
  &__logo {
    display: inline-block;
    & > img {
      object-fit: contain;
    }
  }
  &__content {
    align-items: center;
    display: flex;
    & > div {
      align-items: center;
      display: flex;
      &:not(:last-child):after {
        background-color: #6473B5;
        content: '';
        display: inline-block;
        height: 16px;
        margin-left: 16px;
        margin-right: 16px;
        width: 1px;
      }
    }
  }

  &__notifications {
    & > span {
      background: no-repeat center url('../img/bell-icon.svg');
      content: '';
      cursor: pointer;
      display: inline-block;
      height: 24px;
      position: relative;
      width: 24px;
      &:after {
        background-color: #E63200;
        border: 1px solid $colorPrimeDark;
        border-radius: 50%;
        color: $colorTextWhite;
        content: attr(data-count);
        font: 500 12px 'Inter', sans-serif;
        line-height: 16px;
        height: 18px;
        position: absolute;
        right: -5px;
        text-align: center;
        top: -4px;
        width: 18px;
      }
    }
  }
  &__service,
  &__help {
    & > a {
      color: $colorTextWhite;
      font: 400 14px 'Inter', sans-serif;
    }
  }
  &__service {
    &_badge {
      background-color: #FBB03B;
      border-radius: 3px;
      color: $colorTextWhite;
      font: 600 12px 'Inter', sans-serif;
      height: 24px;
      line-height: 24px;
      margin-left: 8px;
      padding-left: 8px;
      padding-right: 8px;
    }
    @media (max-width: #{$breakpoint-sm}px) {
      display: none !important;
    }
  }
  &__help {
    &:before {
      background: no-repeat center url('../img/help-icon.svg');
      content: '';
      height: 15px;
      margin-right: 9px;
      width: 14px;
    }
  }
  &__account {
    background-color: $colorPrimeLight;
    border-radius: 50%;
    color: $colorTextWhite;
    cursor: pointer;
    font: 400 12px 'Roboto', sans-serif;
    height: 32px;
    justify-content: center;
    width: 32px;
  }
}


// main
main {
  min-height: calc(100vh - #{$headerHeightMain});
  display: flex;
  flex-direction: column;
}

// page-header
.page-header {
  background-color: $backgroundMain;
  display: flex;
  height: $headerHeightPage;
  &__platform {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: $sidebarWidth;
    gap: 8px;
    padding-left: 12px;
    padding-right: 28px;
    position: relative;
    @media (max-width: #{$breakpoint-sm}px) {
      flex-basis: 72px;
    }
    &:after {
      background: no-repeat center url('../img/chevron-right-icon.svg');
      content: '';
      height: 16px;
      margin: auto 0;
      position: absolute;
      right: 12px;
      top: 50%;
      transform: translate(0, -50%);
      transition: transform 0.3s ease;
      width: 16px;
    }
    @media (min-width: #{$breakpoint-sm + 1}px) {
      &:hover:after {
        transform: translate(-3px, -50%);
      }
    }
    & > p {
      color: $colorPrimeDark;
      @extend %fontMain-sm;
      @media (max-width: #{$breakpoint-sm}px) {
        display: none;
      }
    }
  }
  &__content {
    align-items: center;
    border-left: 1px solid $borderColorHeader;
    display: flex;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 24px;
    flex: 1;
  }
  &__sidebar-btn {
    border-right: 1px solid $borderColorHeader;
    position: relative;
    width: 48px;
    @media (min-width: #{$breakpoint-sm + 1}px) {
      display: none;
    }
    & > span {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
      width: 18px;
      &:before,
      &:after,
      & > span {
        background: #2C79E7;
        content: "";
        display: block;
        height: 1px;
        border-radius: 1px;
        margin: 5px 0;
        transition: transform 0.3s ease;
      }
    }
    &:hover > span {
      &:before {
        transform: translateY(6px) rotate(135deg);
      }
      &:after {
        transform: translateY(-6px) rotate(-135deg);
      }
      & > span {
        transform: scale(0);
      }
    }
  }
  &__btn_plus {
    color: $colorPrimeDark;
    display: inline-block;
    margin-right: 16px;
    @extend %fontMain-sm;
    @media (max-width: #{$breakpoint-sm}px) {
      display: none;
    }
  }
  &__btn_upgrade {
    background-color: $colorGreen;
    border-radius: 5px;
    color: $colorTextWhite;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding-left: 16px;
    padding-right: 16px;
    @extend %fontMain-sm;
    @media (max-width: #{$breakpoint-sm}px) {
      background-color: #FBB03B;
    }
  }
  &__usage {
    align-items: center;
    color: $colorPrimeDark;
    cursor: pointer;
    display: flex;
    margin-right: 16px;
    padding-right: 24px;
    position: relative;
    @extend %fontMain-md;
    &:after {
      background: no-repeat center url('../img/chevron-down-icon.svg');
      content: '';
      height: 6px;
      margin: auto 0;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(0, -50%);
      transition: transform 0.3s ease;
      width: 8px;
    }
    & > span {
      margin-left: 8px;
      @media (max-width: #{$breakpoint-sm}px) {
        display: none;
      }
    }
    @media (min-width: #{$breakpoint-sm + 1}px) {
      &:hover:after {
        transform: translate(0, -25%);
      }
    }
  }
}

// usage
.usage {
  height: 40px;
  position: relative;
  width: 40px;
  &__outer {
    background-color: rgba(202, 213, 228, .4);
    border-radius: 50%;
    padding: 5px;
    height: 40px;
    width: 40px;
  }
  &__inner {
    align-items: center;
    background-color: $backgroundMain;
    border-radius: 50%;
    display: flex;
    height: 30px;
    justify-content: center;
    width: 30px;
  }
  &__count {
    color: $colorPrimeDark;
    font: 600 10px 'Inter', sans-serif;
  }
  circle {
    fill: none;
    stroke: $colorGreen;
    stroke-width: 5px;
    stroke-dasharray: 110;
    stroke-dashoffset: 110;
    animation: anim .8s linear forwards;
  }
  svg {
    position: absolute;
    top: 0;
    left: 0;
  }
  @keyframes anim {
    to {
      stroke-dashoffset: 93;
    }
  }
}


.page {
  background-color: $backgroundPage;
  display: flex;
  flex: 1;
}

.page-content {
  border-top: 1px solid $borderColorHeader;
  height: auto;
  min-height: 100%;
  width: 100%;
}




// sidebar
.sidebar {
  background-color: $backgroundMain;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 240px;
  height: auto;
  min-height: 100%;
  @media (max-width: #{$breakpoint-md}px) {
    flex-basis: 52px;
  }
  @media (max-width: #{$breakpoint-sm}px) {
    flex-basis: 0;
  }
}






