
$colorTextWhite   : #FFFFFF;
$colorTextLight   : #566170;
$colorTextDark    : #333333;
$colorPrimeLight  : #00A9E0;
$colorPrimeDark   : #1B2C74;
$colorGreen       : #0DB4A7;

$backgroundMain   : #FFFFFF;
$backgroundPage   : #F2F4F7;

$borderColorHeader: #E1E6EC;

$headerHeightMain : 48px;
$headerHeightPage : 64px;
$sidebarWidth     : 240px;

$breakpoint-sm    : 767;
$breakpoint-md    : 1023;
